# Виртуальное окружение
venv/
.venv/
env/
*.env
!.env.example

# Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Переменные окружения с секретами
.env

# Настройки IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Логи и временные файлы
*.log
*.tmp